include docs/README.md
include LICENSE
include docs/CONTRIBUTING.md
include docs/DEVELOPMENT.md
include pyproject.toml
recursive-include src *.py
recursive-exclude tests *
recursive-exclude scripts *
exclude docker/*